.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.testimonial-slider .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  border-radius: 100%;
}
.testimonial-slider {
  padding: 10px 0px 40px;
}
